@model ListBuilderMovies.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>User</th>
            <th>Description</th>
            <th>Posters</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.movieLists) {
        <tr>
            <td>
                @item.movieListId
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.User
            </td>
            <td>
                @item.Description
            </td>
            <td>
                    @foreach(Movie x in Model.movies)
                    {
                        @if (x.movieListId == item.movieListId)
                        {
                            <img src="@x.ImageLocation" width="60" height="100" />
                        }
                    }
            </td>
            <td>
                    @if (item.User == User.Identity.Name)
                    {
                        <a asp-action="Edit" asp-route-id="@item.movieListId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.movieListId">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.movieListId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
